// main colors
$offwhite: hsla(0, 0%, 90%, 1);
$gray: hsla(0, 0%, 34%, 1);
$darkcoal: hsla(0, 0%, 12%, 1);
$coal: hsla(0, 0%, 16%, 1);
$cyan: hsla(192, 100%, 50%, 1);
$lightcyan: hsla(192, 100%, 75%, 1);
$lavender: hsla(286, 29%, 55%, 1);


$primary: $coal;
$secondary: hsla(0, 0%, 12%, 1);

.btn.-lavender {
 background: $lavender;
}

.search {
    position: relative;
    display: inline-block;
}

.search.-sidebar {
    width: 100%;
}

.search.-navbar {
    width: 250px;
}

.search input {
    width: 100%;
    border-radius: 7px;
    padding: 4px 8px;
}
.search.-navbar input {
    background: $coal;
    border: 1px solid $offwhite;
    color: $offwhite;
}

.search.-sidebar input {
    background: white;
    border: 1px solid $gray;
    color: $coal;
}

.search-results {
    display: none;
    background-color: #fff;
    position: absolute;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.search-results a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.search-results a:hover {
    background-color: #ddd;
}
