---
title: About Plantd
linkTitle: About
menu:
  main:
    weight: 10

---


{{< blocks/cover title="About Plantd" image_anchor="bottom" height="min" >}}

<p class="lead mt-5">
A set of services and frameworks for creating distributed control systems.
</p>

{{< /blocks/cover >}}

{{% blocks/lead %}}
Plantd helps developers to build distribute control systems, it provides the backplane that handles all messaging for
an RPC system and for PUB/SUB systems that use events and metrics.
{{% /blocks/lead %}}


{{< blocks/section >}}
<div class="col-12">
<h1 class="text-center">Purpose</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">Authors</h1>
</div>

{{< /blocks/section >}}
