+++
title = "Plantd"
linkTitle = "Plantd"

+++

{{< blocks/cover title="Plantd: Distributed Control Systems Framework" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://gitlab.com/plantd/plantd">
		Download <i class="fab fa-gitlab ml-2 "></i>
	</a>
	<p class="lead mt-5">Services and frameworks for building measurement and control systems.</p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
	</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Plantd provides a single API and framework to allow developers of control systems to focus on business logic when
building systems. Features like a consistent request and reply API are defined and handled by the backplane, and
PUB/SUB services for hooking general events, metrics, and alerts are also available for use.

Many of the features of Plantd are available, but a major rewrite is underway to make all of it easier to consume. For
more information check the main repository [here](https://gitlab.com/plantd/plantd).
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New projects and documentation!" %}}
The plantd projects have been simplified.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-gitlab" title="Contributions welcome!" url="https://gitlab.com/plantd/plantd" %}}
We do a [Merge Request](https://gitlab.com/plantd/plantd/merge_requests) contributions workflow on **GitLab**. New users
are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/plantd" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">This section is under construction</h1>
</div>

{{< /blocks/section >}}


{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}
Get the Plantd app!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-gitlab" title="Contributions welcome!" url="https://gitlab.com/plantd/plantd" %}}
We do a [Merge Request](https://gitlab.com/plantd/plantd/merge_requests) contributions workflow on **GitLab**. New users
are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/plantd" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">So is this one!</h1>
</div>

{{< /blocks/section >}}
